$font_family: "Kodchasan", sans-serif;

$primary-color: #d5a021;
$light-primary-color: #e5c679;
$secondary-color: #4b4237;
$black: #000;
$white: #fff;
$light-grey: #e0e1e0;
$brown-grey: #858585;
$antiquewhite: #faebd7;
$charcoal-three: #292929;

$eggshell: #ede7d9;
$spanis-gray: #a49694;
$dim-gray: #736b60;

$green: #28a745;
$red: #dc3545;
